body{
    width: 100%;
    margin: 0;
    text-align: center;
    color: black;
    font-family: nunito;
    display: flex;
    flex-direction: column;
}

img{
    width: 330px;
    border-radius: 10px;
}

.headline{
    margin: 0;
    display: flex;
    flex-grow: 3;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.headline h1{
    flex-grow: 1;
    height: 1;
    display: flex;
    align-items: center;
}

.source{
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    text-align: left;
    background-image: linear-gradient(to bottom right, #07ebfe, #4ab0fe);
}

.imgContainer{
    padding: 50px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: end;
}

nav{
    justify-self: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, #07ebfe, #4ab0fe);
    margin-top: -39px;
    position: sticky;
    top: 0;
    display: flex;
}

nav button, nav a{
    background: none;
    transition: 0.2s;
    border: 0;
    border-bottom: 3px red solid;
    border-bottom-color: rgba(255,255,255,0);
    font-size: 15px;
    cursor: pointer;
    font-family: nunito;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-grow: 1;
}

nav button:hover, nav a:hover{
    border-bottom-color: rgba(255,255,255,0.8);
}

nav button[active='true']{
    border-bottom-color: rgba(255,255,255,1);
}

button:focus {
    outline:none;
}

#mainContent{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: justify;
}

#homeButton img{
    width: 25px;
}

p{
    margin: 0;
}

#sentenceNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: #3c3c3c;
    align-items: center;
    box-shadow: 2px 2px 5px 0px #cccccc;
    margin: -30px;
    margin-bottom: 30px;
    padding: 8px;
}

.counter{
    color: white;
}

#dots, #navigation{
    display: flex;
    flex-wrap: wrap;
}

#nextSentence, #prevSentence{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#nextSentence[enabled='false'], #prevSentence[enabled='false']{
    cursor: default;
}

.sentenceDot{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 100%;
}

.sentenceDot, #nextSentence, #prevSentence{
    margin: 2px;
}

#footer{
    text-align: center;
}