body{
    background: linear-gradient(to bottom right, #07ebfe, #4ab0fe);
    color: white;
    font-family: nunito;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}