html{
    overflow: hidden;
}

body{
    width: 100%;
    margin: 0;
    text-align: center;
    color: black;
    font-family: nunito;
    display: flex;
    flex-direction: column;
}

#headerImage{
    height: 150px;
    border-radius: 10px;
}

.headline{
    margin: 0;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px 10px 30px;
}

.headline h1{
    flex-grow: 1;
    height: 1;
    display: flex;
    align-items: center;
}

.source{
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imgContainer{
    padding: 0 30px 10px 30px;
    text-align: end;
}

nav{
    justify-self: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    box-shadow: 4px 2px 8px 0px #00000017;
}

nav button, nav a{
    background: none;
    transition: 0.2s;
    border: 0;
    border-bottom: 3px red solid;
    border-bottom-color: rgba(255,255,255,0);
    font-size: 18px;
    cursor: pointer;
    font-family: nunito;
    padding: 10px;
    flex-grow: 1;
}

nav button:hover, nav a:hover{
    background: linear-gradient(20deg, #0debfe, #48b1fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav button[active='true']{
    background: linear-gradient(20deg, #0debfe, #48b1fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

button:focus {
    outline:none;
}

#mainContent{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: justify;
    overflow: auto;
    height: calc(100vh - 90px);
}

#homeButton img{
    width: 25px;
}

p{
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
}

#sentenceNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: #3c3c3c;
    align-items: center;
    box-shadow: 2px 2px 5px 0px #cccccc;
    margin: -30px;
    margin-bottom: 30px;
    padding: 8px;
}

.counter{
    color: white;
}

#dots, #navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sentenceDot{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 100%;
    box-sizing: border-box;
}

.sentenceDot, #nextSentence, #prevSentence{
    margin: 2px;
}

#footer{
    text-align: center;
    margin-top: 10px;
}

.summaryDetails{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 80vw;
    height: 10vh;
    margin: 5px;
    box-shadow: 2px 2px 7px 0px #00000014;
    display: none;
    align-items: center;
    justify-content: center;
}

.summaryDetails a{
    color: white;
}

h3{
    text-align: center;
    background: linear-gradient(20deg, #0debfe, #48b1fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    font-size: 40px;
}

h1{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(20deg, #0debfe, #48b1fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sentenceSummaryContainer{
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#numPeriodic{
    font-size: 60px;
}

.arrowButton{
    width: 15px;
    height: 15px;
    cursor: default;
    color: grey;
    border: 2px solid grey;
    border-radius: 100%;
    background: transparent;
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.arrowButton[active="true"]{
    cursor: pointer;
    color: #48b1fe;
    border: 2px solid #48b1fe;
}

.arrowButton[active="true"]:hover{
    color: white;
    background: #48b1fe;
}